* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Karla", sans-serif;
  font-size: 16px;
}
@font-face {
  font-family: "Karla";
  font-style: normal;
  font-weight: normal;
  src: url("/assets/fonts/Karla-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "Karla";
  font-style: normal;
  font-weight: bold;
  src: url("/assets/fonts/static/Karla-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Karla";
  font-style: italic;
  font-weight: normal;
  src: url("/assets/fonts/Karla-Italic-VariableFont_wght.ttf")
    format("truetype");
}

@font-face {
  font-family: "Karla";
  font-style: normal;
  font-weight: 400;
  src: url("/assets/fonts/static/Karla-Regular.ttf") format("truetype");
}

:root {
  /*
  Primary
  */
  --Green-lighter: hsl(148, 38%, 91%);
  --Green-medium: hsl(169, 82%, 27%);
  --Red: hsl(0, 66%, 54%);
  /*
  Neutral
  */
  --White: hsl(0, 0%, 100%);
  --Grey-medium: hsl(186, 15%, 59%);
  --Grey-darker: hsl(187, 24%, 22%);
}
body {
  background-color: var(--Green-lighter);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
h2 {
  color: var(--Grey-darker);
}
.form-container {
  background-color: var(--White);
  width: 35rem;
  display: flex;
  justify-content: center;
  margin-top: 1.5em;
  padding: 1em;
  border-radius: 0.9em;
}
.full-name {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 8px;
  margin-top: 8px;
  border: 1px solid var(--Grey-medium);
  border-radius: 5px;
}

input[type="text"]:hover,
input[type="email"]:hover,
textarea:hover {
  cursor: pointer;
  outline: 1px solid var(--Green-medium);
  border: 1px solid var(--Green-medium);
}
input:focus,
textarea:focus {
  outline: 1px solid var(--Green-medium);
  border: 1px solid var(--Green-medium);
}
.sub-query-type {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
.full-name,
.email,
.query-type,
.text-area,
.check-box {
  margin-bottom: 15px;
}
.radio-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
.radio-option {
  border: 1px solid var(--Green-medium);
  width: 50%;
  padding: 8px;
  border-radius: 5px;
  cursor: pointer;
}
.radio-option:hover {
  outline: 1px solid var(--Green-medium);
  border: 1px solid var(--Green-medium);
}
.radio-option:active {
  background-color: var(--Green-lighter);
}
/*
input[type="radio"],
input[type="checkbox"] {
  appearance: none;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  border: 1px solid var(--Grey-medium);
  border-radius: 50%;
  outline: none;
  cursor: pointer;
}

input[type="radio"]:checked,
input[type="checkbox"]:checked {
  background-color: var(--Green-medium);
  border: 1px solid var(--Green-medium);
}
*/
button {
  width: 100%;
  padding: 8px;
  border: 1px solid var(--Grey-medium);
  background-color: var(--Green-medium);
  color: var(--White);
  border-radius: 5px;
  cursor: pointer;
}
button:hover {
  background-color: rgb(33, 59, 33);
}
.error {
  color: red;
  display: none;
}

input.error {
  border: 1px solid red;
  background-color: #ffe0dd;
}

span.visible {
  display: block;
  color: red;
  font-size: 0.9em;
}

@media only screen and (max-width: 767px) {
  .form-container {
    background-color: var(--White);
    width: 90%;
    display: flex;
    justify-content: center;
    margin-top: 1em;
    padding: 1em;
    border-radius: 0.9em;
    margin-left: auto;
    margin-right: auto;
  }

  .full-name {
    flex-direction: column;
  }

  .radio-container {
    flex-direction: column;
  }

  .radio-option {
    width: 100%;
  }
}
